{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Submit Text</title>
    <link href="{% static 'raspberryauth/styles.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="title">Enter Code</div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% if messages %}
            <div id="response-message">
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>
